@charset "UTF-8";
h1{
    background-color: rgb(207, 207, 207);
    height: 300px;
    width: 300px;
   border-width: 10px;
   border-style: solid;
   border-color: gray;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;

   margin: auto;
}

a{
    border-width: 10px;
    border-style: solid;
    border-color: red;
}